<div class="head-bar">
  <div class="container">
    <h1 class="pull-left">Top Games</h1>
    <h4 class="pull-right"><a ui-sref="gamesCompare" class="pull-right"><i class="fa fa-exchange"></i></a></h4>
  </div>
</div>

<div class="page-content">
  <div ng-if="!GamesListCtrl.tableView">
    <div class="data-toolbar">
      <div class="btn-group" dropdown is-open="isopen">
        <button type="button" name="sort-attribute" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
          <i class="fa" ng-class="{'fa-users': GamesListCtrl.sorting.attr == 'viewers',
            'fa-video-camera': GamesListCtrl.sorting.attr == 'channels',
            'fa-tachometer': GamesListCtrl.sorting.attr == 'ratio'}"></i>
          {{GamesListCtrl.sorting.attr}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href ng-click="GamesListCtrl.sortBy('viewers')"><i class="fa fa-users"></i> viewers</a></li>
          <li><a href ng-click="GamesListCtrl.sortBy('channels')"><i class="fa fa-video-camera"></i> channels</a></li>
          <li><a href ng-click="GamesListCtrl.sortBy('ratio')"><i class="fa fa-tachometer"></i> ratio</a></li>
        </ul>
      </div>
      <button type="button" ng-click="GamesListCtrl.sortBy(GamesListCtrl.sorting.attr)" class="btn btn-default">
        <i class="fa" ng-class="{'fa-sort-amount-desc': !GamesListCtrl.sorting.reverse, 'fa-sort-amount-asc': GamesListCtrl.sorting.reverse}"></i>
      </button>
      <div class="pull-right">
        <input type="text" name="search" ng-model="GamesListCtrl.searchText" ng-change="GamesListCtrl.search()" placeholder="Search Game" class="form-control">
      </div>
    </div>

    <ul class="no-padding data-cards game-cards">
      <li class="col-xs-12 col-sm-4 col-md-4 col-lg-3" ng-repeat="game in GamesListCtrl.games track by game._id">
        <a ui-sref="gameDetail({gameName: game.name})">
          <img ng-src="http://static-cdn.jtvnw.net/ttv-boxart/{{game.name}}-100x140.jpg" class="data-img" alt=""/>
          <div class="overlay">
            <i class="fa fa-eye"></i>
          </div>
          <div class="data-description">
            <h4 class="data-name">{{::game.name}}</h4>
            <table class="table table-borderless table-condensed">
              <tr>
                <td><i class="fa fa-users"></i></td>
                <td>{{::game.viewers}}</td>
              </tr>
              <tr>
                <td><i class="fa fa-video-camera"></i></td>
                <td>{{::game.channels}}</td>
              </tr>
              <tr>
                <td><i class="fa fa-tachometer"></i></td>
                <td>{{::(game.channels > 0) ? game.viewers / game.channels : 0 | number:0}}</td>
              </tr>
            </table>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <div ng-if="GamesListCtrl.tableView" class="row">
    <table class="table table-hover sortable-table clickable-rows-table data-table">
      <thead>
        <tr>
          <th ng-click="GamesListCtrl.sortBy('name')">
            Game
            <span ng-if="GamesListCtrl.sorting.attr == 'name'" class="fa"
              ng-class="{'fa-sort-desc': !GamesListCtrl.sorting.reverse,
              'sort-asc': GamesListCtrl.sorting.reverse}"></span>
          </th>
          <th ng-click="GamesListCtrl.sortBy('viewers')">
            <span ng-if="GamesListCtrl.sorting.attr == 'viewers'" class="fa"
              ng-class="{'fa-sort-desc': !GamesListCtrl.sorting.reverse,
              'fa-sort-asc': GamesListCtrl.sorting.reverse}"></span>
            Viewers
            <i class="fa fa-users"></i>
          </th>
          <th ng-click="GamesListCtrl.sortBy('channels')">
            <span ng-if="GamesListCtrl.sorting.attr == 'channels'" class="fa"
              ng-class="{'fa-sort-desc': !GamesListCtrl.sorting.reverse,
              'fa-sort-asc': GamesListCtrl.sorting.reverse}"></span>
            Channels
            <i class="fa fa-video-camera"></i>
          </th>
          <th ng-click="GamesListCtrl.sortBy('ratio')">
            <span ng-if="GamesListCtrl.sorting.attr == 'ratio'" class="fa"
              ng-class="{'fa-sort-desc': !GamesListCtrl.sorting.reverse,
              'fa-sort-asc': GamesListCtrl.sorting.reverse}"></span>
            Ratio
            <i class="fa fa-tachometer"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="game in GamesListCtrl.games track by game._id" ng-click="GamesListCtrl.goToGameDetailView(game)">
          <td class="wrap-text"> <img ng-src="http://static-cdn.jtvnw.net/ttv-boxart/{{game.name}}-100x140.jpg" class="data-img" alt="" height="50"/>{{::game.name}}</td>
          <td>{{::game.viewers}}</td>
          <td>{{::game.channels}}</td>
          <td>{{::(game.channels > 0) ? game.viewers / game.channels : 0 | number:0}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-xs-12 text-center">
    <pagination total-items="GamesListCtrl.totalGames" ng-model="GamesListCtrl.pagination.currentPage"
      ng-change="GamesListCtrl.pagination.update()" max-size="10" items-per-page="GamesListCtrl.pagination.pageSize" class="pagination-sm"></pagination>
  </div>
</div>
