<div class="games-compare">
  <h1>Games Compare</h1>

  <div class="new-game clearfix">
    <div class="col-xs-10 col-sm-8 col-md-5 pull-right no-padding">
      <input type="text" ng-model="GamesCompareCtrl.newGame" placeholder="Add Game" typeahead-editable="false"
      typeahead="game for game in GamesCompareCtrl.getGames($viewValue)" typeahead-loading="loadingLocations" class="form-control">
    </div>
  </div>

  <ul class="games-list">
    <li ng-repeat="game in GamesCompareCtrl.games" class="">
      <img ng-src="http://static-cdn.jtvnw.net/ttv-boxart/{{game.name}}-100x140.jpg" alt="" width="50" height="70"/>
      <p class="wrap-text">{{game.name}}</p>
      <a href class="close" ng-click="GamesCompareCtrl.removeGame(game.name)"><i class="fa fa-times"></i></a>
    </li>
  </ul>

  <div class="charts tabs" ng-if="GamesCompareCtrl.games && GamesCompareCtrl.games.length > 0">
    <div class="headings clearfix">
      <a href class="pull-left" ng-click="GamesCompareCtrl.currentChart = 'viewers'" ng-class="{'active':GamesCompareCtrl.currentChart == 'viewers' }"><h3>Viewers</h3></a>
      <a href class="pull-left" ng-click="GamesCompareCtrl.currentChart = 'channels'" ng-class="{'active':GamesCompareCtrl.currentChart == 'channels' }"><h3>Channels</h3></a>
      <a href class="pull-left" ng-click="GamesCompareCtrl.currentChart = 'ratio'" ng-class="{'active':GamesCompareCtrl.currentChart == 'ratio' }"><h3>Ratio</h3></a>
    </div>
    <highchart ng-if="GamesCompareCtrl.currentChart == 'viewers'" config="GamesCompareCtrl.viewersChartConfig" class="col-xs-12 no-padding"></highchart>
    <highchart ng-if="GamesCompareCtrl.currentChart == 'channels'" config="GamesCompareCtrl.channelsChartConfig" class="col-xs-12 no-padding"></highchart>
    <highchart ng-if="GamesCompareCtrl.currentChart == 'ratio'" config="GamesCompareCtrl.ratioChartConfig" class="col-xs-12 no-padding"></highchart>
  </div>
  <div class="" ng-if="!GamesCompareCtrl.games || GamesCompareCtrl.games.length == 0">
    <h2 class="text-center">Add games to compare them!</h2>
  </div>
</div>
