<div class="games-compare">
  <h1>Games Compare</h1>

  <div class="new-game clearfix">
    <div class="col-xs-10 col-sm-8 col-md-5 pull-right no-padding">
      <input type="text" ng-model="GamesCompareCtrl.newGame" placeholder="Add Game" typeahead-editable="false"
      typeahead="game for game in GamesCompareCtrl.getGames($viewValue)" typeahead-loading="loadingLocations" class="form-control">
    </div>
  </div>

  <ul class="games-list">
    <li ng-repeat="game in GamesCompareCtrl.games" class="">
      <img ng-src="http://static-cdn.jtvnw.net/ttv-boxart/{{game.name}}-100x140.jpg" alt="" width="50" height="70"/>
      <p class="wrap-text">{{game.name}}</p>
      <a href class="close" ng-click="GamesCompareCtrl.removeGame(game.name)"><i class="fa fa-times"></i></a>
    </li>
  </ul>

  <highchart config="GamesCompareCtrl.viewersChartConfig" class="col-xs-12 no-padding"></highchart>
  <highchart config="GamesCompareCtrl.channelsChartConfig" class="col-xs-12 no-padding"></highchart>
  <highchart config="GamesCompareCtrl.ratioChartConfig" class="col-xs-12 no-padding"></highchart>
</div>
