.channel-live-info {
  background-color: rgba($twitch-color, 0.9);
  color: #fff;
  padding: 15px;

  h2 {
    text-align: center;
    margin-top: 0;
  }

  ul {
    padding: 0;
    list-style: none;

    li {
      padding: 10px 0;
    }

    a {
      color: darken(#fff, 10%);
    }
  }

  img {
    width: 100%;
  }

  &.offline {
    background-color: lighten($twitch-color, 50%);
    color: inherit;
  }
}
