<div class="channel-live-info" ng-if="ChannelDetailLiveCtrl.stream">
  <h2>Online</h2>
  <ul>
    <li>{{ChannelDetailLiveCtrl.stream.channel.status}}</li>
    <li>playing <a ui-sref="gameDetail({gameName: ChannelDetailLiveCtrl.stream.game})">{{ChannelDetailLiveCtrl.stream.game}}</a></li>
    <li>{{ChannelDetailLiveCtrl.stream.viewers}} viewers</li>
    <li>streaming since {{ChannelDetailLiveCtrl.stream.created_at | date:'short'}}</li>
  </ul>
  <a ng-href="{{ChannelDetailLiveCtrl.channel.url}}" target="_blank">
    <img ng-src="{{ChannelDetailLiveCtrl.stream.preview.medium}}" alt="" />
    <div class="overlay">
      <i class="fa fa-play-circle-o"></i>
    </div>
  </a>
</div>
<div class="channel-live-info offline" ng-if="!ChannelDetailLiveCtrl.stream && ChannelDetailLiveCtrl.loaded">
  <h2>Offline</h2>
  <a ng-href="{{ChannelDetailLiveCtrl.channel.url}}" target="_blank">
    <img ng-src="{{ChannelDetailLiveCtrl.channel.video_banner}}" alt="" />
    <div class="overlay">
      <i class="fa fa-play-circle-o"></i>
    </div>
  </a>
</div>
