<div class="channel-live-info" ng-if="ChannelDetailLiveCtrl.stream">
  <h2>Online</h2>
  <small>since {{ChannelDetailLiveCtrl.stream.created_at | date:'short'}}</small>
  <h4>{{ChannelDetailLiveCtrl.stream.channel.status}}</h4>
  <hr>
  <div class="clearfix">
    <div class="col-xs-12 game-info">
      <i class="fa fa-gamepad"></i> <a ui-sref="gameDetail({gameName: ChannelDetailLiveCtrl.stream.game})">{{ChannelDetailLiveCtrl.stream.game}}</a>
    </div>
    <div class="col-xs-12 viewer-info">
      <i class="fa fa-users"></i> {{ChannelDetailLiveCtrl.stream.viewers}}
    </div>
  </div>
  <a class="preview" ng-href="{{ChannelDetailLiveCtrl.channel.url}}" target="_blank">
    <img ng-src="{{ChannelDetailLiveCtrl.stream.preview.medium}}" alt="" />
    <div class="overlay">
      <i class="fa fa-play-circle-o"></i>
    </div>
  </a>
</div>
<div class="channel-live-info offline" ng-if="!ChannelDetailLiveCtrl.stream && ChannelDetailLiveCtrl.loaded">
  <h2>Offline</h2>
  <a class="preview" ng-href="{{ChannelDetailLiveCtrl.channel.url}}" target="_blank">
    <img ng-src="{{ChannelDetailLiveCtrl.channel.video_banner}}" alt="" />
    <div class="overlay">
      <i class="fa fa-play-circle-o"></i>
    </div>
  </a>
</div>
