.menu {
  background-color: #6441a5;

  .navbar-brand {
    color: white;
    font-family: 'Dimitri-Swank';
    font-size: 26px;
    padding: 10px 15px;
  }

  .navbar-nav>li>a.beta-label {
    color: red;
    font-family: 'Dimitri-Swank';
    font-size: 26px;
  }

  .navbar-nav>.active>a {
    background-color: #815fc0 !important;
  }
}
