.menu {
  &.navbar {
    border: none;
    // min-width: $min-width;
  }

  .navbar-brand {
    font-size: 26px;
    padding: 13px 15px 10px 15px;

    .logo-ttv {
      font-size: 30px;
      color: #ffffff
    }

    .logo-stats {
      color: #ffffff;
      font-size: 30px;
      height: 19px;
    }
  }

  .navbar-nav>li {
    font-size: 19px;
    font-weight: 300;
  }

  .navbar-nav>li>a.beta-label {
    color: red;
    font-size: 26px;
  }

  .navbar-nav>.active>a {
    border-bottom: 5px solid $menu-active-border-color;
    height: 50px;
  }

  .navbar-nav>li.slogan {
    a {
      font-weight: 300;
      font-size: 18px;

      @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
        font-size: 13px;
      }
    }

    a:hover {
      color: $navbar-inverse-link-color;
      text-decoration: none;
    }
  }
}
