.menu {
  &.navbar {
    border: none;
  }

  .navbar-brand {
    font-family: 'Dimitri-Swank';
    font-size: 26px;
    padding: 10px 15px;
  }

  .navbar-nav>li>a.beta-label {
    color: red;
    font-family: 'Dimitri-Swank';
    font-size: 26px;
  }

  .navbar-nav>.active>a {
    border-bottom: 5px solid $menu-active-border-color;
    height: 50px;
  }
}
