.game-detail-head {
  h1 {
    padding-right: 40px;
  }

  a {
    position: absolute;
    right: 0;
  }
}

.game-info {
  background-color: white;
  box-shadow: 5px 5px 5px 0px rgba(216, 215, 215, 0.95);
  padding: 15px;
  overflow: auto;
  margin-bottom: 15px;
}

.game-data {
  padding: 0;

  @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
    padding: 0px 0px 0px 20px;
  }

  .giantbomb h3 {
    margin-top: 0;
  }

  table {
    margin: 0;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }
}

.game-image {
  padding: 0;

  img {
    margin-bottom: 10px;
  }

  &>div {
    padding: 0;

    @media (max-width: $screen-sm-min) {
      padding: 0px 0px 0px 10px;
    }
  }

  .peak {
    font-size: 20px;

    i {
      padding-right: 10px;
    }

    span {
      font-size: 14px;
      line-height: 30px;
    }
  }
}


.game-statistics {
  padding-left: 0;

  @media (max-width: $screen-md-min) {
    padding-right: 0;
  }

  hr {
    border-color: #6441a5;
    margin: 0;
  }

  .trend {
    text-align: center;

    h3 {
      font-weight: bold;
    }

    p {
      font-size: 20px;
      font-weight: bold;
    }

  }
}

.monthly-trends {
  h2 {
    background-color: white;
    padding: 10px;
    margin: 0;
  }
  table {
    background-color: white;
    td:nth-child(2), td:nth-child(3), th:nth-child(2), th:nth-child(3) {
      text-align: right;
    }
    p {
      margin: 0;
    }
  }
}
