.channel-cards {
  li {
    &>div {
      background: #fff;
    }
  }

  .overlay {
    height: 140px;
    width: 140px;
  }

  .data-img {
    height: 140px;
    min-width: 140px;
  }

  td.wrap-text {
    max-width: 1px;
  }
};
