.dashboard {
  padding-bottom: 10px;
  
  .jumbotron {
    background-color: inherit;
    margin-bottom: 0;
  }

  .charts {
    .headings {
      background-color: #fff;

      h3 {
        display: inline-block;
        margin: 0;
        padding: 15px;
        border-bottom: 5px solid $twitch-color;
      }
    }
  }

  .features {
    ul {
      margin: 0;
      list-style-type: square;
    }

    ul li {
      padding-bottom: 10px;
    }
  }
}
