.dashboard {
  padding-bottom: 10px;

  .jumbotron {
    background-color: inherit;
    margin-bottom: 0;
    padding: 0;

    h1 {
      background-image: url("/images/line.png");
      background-repeat: no-repeat;
      background-size: 500px;
      background-position: top center;
      padding-top: 130px;
      padding-left: 25px;
    }

    img {
      width: 100%;
      max-width: 500px;
    }
  }

  .logo-ttv {
    font-size: 120px;
    transform: scale(1,1.3);
    display: inline-block;
  }

  .logo-stats {
    font-size: 120px;
    vertical-align: bottom;
    display: inline-block;
    height: 118px;
  }

  .charts {
    .headings {
      background-color: $item-bg-color;

      h3 {
        display: inline-block;
        margin: 0;
        padding: 15px;
        border-bottom: 5px solid $twitch-color;
      }
    }
  }

  .features {
    ul {
      margin: 0;
      list-style-type: square;
    }

    ul li {
      padding-bottom: 10px;
    }
  }
}
