.dashboard {
  .jumbotron {
    background-color: inherit;
  }

  .charts {
    .headings {
      background-color: #fff;

      h3 {
        display: inline-block;
        margin: 0;
        padding: 15px;
        border-bottom: 5px solid $twitch-color;
      }
    }
  }
}
