html {
  min-width: $min-width;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(245, 247, 252);
}

.main-content {
  margin-top: $navbar-height;
}

.wrap-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.no-padding {
  padding: 0;
}

.full-width {
  width: 100%;
}
