html {

  box-sizing: border-box;
  height:100%;
  overflow-y: scroll;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  // min-width: $min-width;
  padding-bottom: $footer-height;
  position: relative;
  min-height: 100%;
}

html, body {
  margin:0;

}

.page-body {
  min-height:100%;
  position:relative;
}

.main-content {
  padding-top: $navbar-height;
}

.head-bar {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: rgba($body-bg, 0.95);
  height: 70px;
}

.page-content {
  margin-top: 70px;
}

.wrap-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.no-padding {
  padding: 0;
}

.full-width {
  width: 100%;
}
