.data-detail-head {
  h1 {
    padding-right: 40px;
    line-height: 44px;
    position: relative;
  }

  a {
    position: absolute;
    right: 0;
  }
}

.data-info {
  background-color: white;
  box-shadow: 5px 5px 10px 0px rgba(216, 215, 215, 0.95);
  padding: 15px;
  overflow: auto;
  margin-bottom: 15px;
}

.data-data {
  padding: 0;

  @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
    padding: 0px 0px 0px 20px;
  }

  table {
    margin: 0;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }
}

.data-image {
  padding: 0;

  img {
    margin-bottom: 10px;
  }

  &>div {
    padding: 0;

    @media (max-width: $screen-sm-min) {
      padding: 0px 0px 0px 10px;
    }
  }

  .peak, .avg {
    font-size: 20px;

    i {
      padding-right: 10px;
    }

    span {
      font-size: 14px;
      line-height: 30px;
    }
  }

  .avg {
    text-align: center;
  }
}


.data-statistics {
  padding-left: 0;

  @media (max-width: $screen-md-min) {
    padding-right: 0;
  }

  hr {
    margin: 0;
  }

  .trend {
    text-align: center;

    p {
      font-size: 20px;
      font-weight: bold;
    }

  }
}

.monthly-trends {
  table {
    background-color: white;

    td {
      text-align: right;
    }

    th {
      text-align: center;
    }

    td:first-child, th:first-child {
      text-align: left;
    }

    p {
      margin: 0;
    }
  }
}
