@font-face {
    font-family: 'Dimitri-Swank';
    src:url('../fonts/Dimitri-Swank.ttf.woff') format('woff'),
        url('../fonts/Dimitri-Swank.ttf.svg#Dimitri-Swank') format('svg'),
        url('../fonts/Dimitri-Swank.ttf.eot'),
        url('../fonts/Dimitri-Swank.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
