.sortable-table {
  &>thead>tr>th {
    cursor: pointer;
  }
}

.clickable-rows-table {
  &>tbody>tr {
    cursor: pointer;
  }
}

.table-borderless {
  tr, th, td {
    border: none !important;
  }
}
