h1 {
  font-weight: 300;
}

.text-huge {
  font-size: 50px;
}

.logo-ttv {
  font-family: $font-family-sans-serif;
  font-weight: normal;
}

.logo-stats {
  font-family: $font-family-condensed;
  font-weight: 300;
  color: #3b3b3b;
}
