$min-width:                             600px;
$twitch-color:                          #6441a5;
$twitch-color-light:                    #815fc0;
$menu-active-border-color:              lighten($twitch-color-light, 20%);
$footer-height: 150px;
$overlay-color:                         rgba(255, 253, 253, 0.9);
$item-bg-color:                         #fff;

// bootstrap vars
$brand-primary:                         $twitch-color;
$body-bg:                               rgb(245, 247, 252);;
$navbar-inverse-bg:                     $twitch-color;
$navbar-inverse-link-color:             darken(#fff, 15%);
$navbar-inverse-link-hover-color:       #fff;
$navbar-inverse-link-hover-bg:          $twitch-color;
$navbar-inverse-link-active-bg:         $twitch-color;
$navbar-inverse-brand-color:            #fff;
$border-radius-base:                    0;
$border-radius-large:                   0;
$border-radius-small:                   0;

$font-family-sans-serif:                "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-condensed:                 "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
